html,
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-drag: none;
  background-color: var(--bg);
  scrollbar-width: none;
}

:root {
  --bg: #f8fafc;
  --primary: #38bdf8;
  --accent: #0369a1;
  --text: #1e293b;
  --subtext: #64748b;
}

nav {
  display: flex;
  text-align: center;
  gap: 12px;
  justify-content: space-between;
  width: 100;
  align-items: center;
  height: 50px;
  background-color: transparent;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  user-select: none;
  padding: 12px;
  font-weight: bold;
  position: sticky;
}
nav li:hover {
  color: var(--accent);
}
li {
  list-style: none;
  color: var(--text);
}

.halo {
  text-decoration: dotted;
}
.container {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 24px auto;
  height: 400px;
  justify-content: space-evenly;
}
.container2 {
  background-color: var(--primary);
  padding: 12px;
  margin: 24px auto;
  height: 400px;
  width: auto;
}
.gambar1 {
  width: 350px;
}
p {
  color: var(--subtext);
}
.bd1 {
  font-size: 1.5em;
  max-width: 250px;
}
ul {
  display: flex;
  text-align: center;
  gap: 12px;
}
.nametitle {
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.card {
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 5px;
  margin: 12px;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
